
.RoadMap_section_container{
    background-image: url(../../Assets/image/Background_image1.svg);
    background-repeat: repeat;
    background-color:#1e1e1e;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;
    width: 100vw;
    padding-bottom: 6rem;
    clip-path: polygon(50% 4%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
    position: relative;
}



p{
    font-family: "Montserrat", sans-serif;
}

li{
    font-family: "Montserrat", sans-serif;
}


.RoadMap_section_container .RoadMap_Heading{
    font-size: 2.5rem;
    width: fit-content;
    background: rgb(255, 191, 52);
    background: radial-gradient(circle, rgb(255, 183, 27) 0%, rgba(225,133,47,1) 29%, rgb(255, 189, 23) 49%, rgba(223,142,56,1) 58%, rgba(255,237,73,1) 100%);
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.RoadMap_section_container .RoadMap_info{
    font-weight: 450;
    font-size: 1rem;
    width: 43rem;
    text-align: center;
}

.RoadMap_section_container .RoadMap_Points_container{
    display: flex;
    flex-direction: column;
    width:fit-content;
    margin-top: 3rem;
    gap: 3rem;
}

.RoadMap_Points_container .RoadMap_points{
    display: flex;
    justify-content: center;
    gap:4rem;
    align-items:end;
    width: 100%;
}

.RoadMap_points .point_head{
    width:50%;
    }

.RoadMap_points .point_head h1{
    font-size: 3rem;
    font-weight: 800;
    font-family: "Outfit", sans-serif;
    color: wheat; 
    text-align: center;
}


.RoadMap_points .point_head h2{
    font-size: 1.5rem;
    font-weight: 600;
    width:100%;
    line-height: 1;
    text-align: center;
    background-color:chocolate;
    padding:0.5rem 0.5rem 0.5rem 2rem;
    box-sizing: border-box;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10% 50%);
    font-family: "Montserrat", sans-serif;
}

.RoadMap_points ul{
    list-style: circle;
    color: rgb(255, 255, 255);
    width: 50%;
}

.RoadMap_points li{
    width:100%;
    text-align: start;
}





/* tab responsive */

@media (max-width: 840px){
    
.RoadMap_section_container{
   padding-left: 2rem;
   padding-right: 2rem;
   padding-top: 4rem;
   clip-path: polygon(50% 4%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
}


.RoadMap_section_container .RoadMap_info{
    font-weight: 400;
    font-size: 1rem;
    width:100%;
    text-align: center;
}

.RoadMap_section_container .RoadMap_Points_container{
        align-items: center;
        width:100%;
        margin-top: 2rem;
}

.RoadMap_Points_container .RoadMap_points{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.RoadMap_points .point_head{
   width: 50%;
}

.RoadMap_points .point_head h2{
    font-size: 1.5rem;
    width:100%;
    text-align: start;
}

.RoadMap_points ul{
    list-style: circle;
    color: rgb(255, 255, 255);
    width: 50%  ;
}
}



/* mobile responsive */


@media (max-width:516px){
    
    .RoadMap_section_container{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 4rem;
        clip-path: polygon(50% 2%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
     }
     
     
     .RoadMap_section_container .RoadMap_info{
         font-weight: 400;
         font-size: 1rem;
         width:100%;
         text-align: center;
     }
     
     .RoadMap_section_container .RoadMap_Points_container{
            margin-top: 1rem;
            width: 100%;
     }
     
     .RoadMap_Points_container .RoadMap_points{
         flex-direction: column;
         align-items:start;
         gap: 1rem;
         width: 95%;
     }
     
     .RoadMap_points .point_head{
     width: 100%;
     }

     .RoadMap_points .point_head h1{
        font-size: 2rem;
     }
     
     .RoadMap_points .point_head h2{
         font-size: 1rem;
         width:100%;
         text-align:center;
         padding:0.5rem 0.5rem 0.5rem 4rem;
     }

     .RoadMap_points ul{
        width: fit-content;
        text-align:start;
        padding-left:1rem ;
     }
     .RoadMap_points li{
        width:100%;
        font-size: 0.9rem;
    }

     }